<div class="container">
  <nav class="navbar navbar-expand navbar-lighs">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" ><a routerLink="auth" class="nav-link">Authentification</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="appareils" class="nav-link">Appareils</a></li>
        <li routerLinkActive="active" class="nav-item "><a routerLink="edit" class="nav-link">Nouvel appareil</a></li>
        <li routerLinkActive="active" class="nav-item "><a routerLink="users" class="nav-link">Utilisateur</a></li>
      </ul>
    </div>
  </nav>

  <div class="row p-3">
    <div class="col-xs-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


  <!-- <div class="row">
    <div class="col-xl-12">
      <h2>Post</h2>
      <ul class="list-group">
        <app-post *ngFor="let post of posts"
                  [postTitle]="post.title"
                  [postContent]="post.content"
                  [postLike]="post.loveIts"></app-post>
      </ul>
    </div> 
  </div> -->
