<li>
    <div>
        <span>
            <h4> {{ postTitle }} </h4>
        </span>
        <p> {{ postContent }} </p>       
    </div>
    <div>
        <button class="btn btn-success m-2" (click)="add1Like()">Love it</button>
        <button class="btn btn-danger m-2" (click)="sup1Like()">Don't love</button>
        <p> {{ postLike }} </p>
    </div>
</li>
