<h2>Mes appareils</h2>
<p>Mis à jour : {{ lastUpdateFirst | date: 'EEEE d MMMM y' | uppercase }}</p>

<button class="btn btn-success mr-2" 
        (click)="onAllumer()">Tout allumer</button>
<button class="btn btn-danger mr-2"
        (click)="onEteindre()">Tout éteindre</button>
<button class="btn btn-success mr-2"
        (click)="onSave()">Enregistrer</button>
<button class="btn btn-primary mr-2"
        (click)="onFetch()">Charger</button>
<ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils; let i = index"
                        [appareilName]="appareil.name"
                        [appareilStatus]="appareil.status"
                        [index]="i"
                        [id]="appareil.id"></app-appareil>
        </ul>
